{% extends "inscription/object_detail.html" %}

{% load dajaxice_templatetags %}

{% block extra_head %}
{{ block.super }}

{% dajaxice_js_import %}

{% endblock extra_head %}

{% block breadcrumb %}
<ol class="breadcrumb">
	<li><a href="{% url 'inscription_list' %}">碑文列表</a></li>
	<li class="active">{{ area }}</li>
</ol>
{% endblock breadcrumb %}

{% block  object_detail %}
{{ block.super }}
<ul class="nav nav-pills" id="area_list">
	{% for location in area.location_set.all %}
	<li><a href="{{ location.get_absolute_url }}" >{{ location.name }}</a></li>
	{% endfor %}
</ul>
</div>
{% endblock object_detail %}

{% block extra_tail %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}dajax_modified/jquery.dajax.core.js"></script>
<script type="text/javascript">
add_marker_hook = function () {
	Dajaxice.inscription.display_area_detail(Dajax.process, {'area_id':"{{ area.id }}"});
};
function area_detail_add_locations(data) {
	var locations = $.parseJSON(data);
	var infowindow = new google.maps.InfoWindow();

	for (var i = 0; i < locations.length; ++i) {
		var loc = locations[i].fields;
		add_marker(locations[i].pk, 
			   loc.latitude, 
			   loc.longitude, 
			   loc.name,
			   null,
			   infowindow)
	};
}
</script>
{% endblock extra_tail %}
