{% extends "utils/site_base_b3.html" %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}inscription/base.css">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">切换导航</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<p class="navbar-brand active" style="color:#FFFFFF"><strong>汕头埠宗教碑铭地理信息系统</strong></p>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-left">
				<li {% block  index %} {% endblock %}><a href="{% url 'inscription_index' %}">地图</a></li>
				<li {% block  inscription_list %} {% endblock %}><a href="{% url 'inscription_list' %}">碑铭列表</a></li>
			</ul>
			<div class="col-xs-12  col-sm-4">
				<form class="navbar-form " role="search" action="{% url 'haystack_search' %}" method="GET">
					<div class="input-group">
						<input class="form-control" name="q" id="id_q" type="text" data-provide="typeahead" placeholder="搜索碑铭" value="{{ form.cleaned_data.q }}">
						<div class="input-group-btn">
							<button class="btn btn-info" style="" type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</form>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li {% block  about_us %} {% endblock %}><a href="{% url 'about_us' %}">关于我们</a></li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}

{% block footer %}
<footer class="footer">
	<div class="container text-center">
		<p>本系统由 汕头大学“基督宗教、生命教育与宗教文化” 研究专项资助</p>
		<strong>业务联系邮箱</strong>
		<a class="btn-link" href="mailto:cjs@stu.edu.cn"><span class="glyphicon glyphicon-envelope"></span></a>
		<strong>技术支持邮箱</strong>
		<a class="btn-link" href="mailto:xdli@stu.edu.cn"><span class="glyphicon glyphicon-envelope"></span></a>
		</p>
		<p><a style="color: rgb(255,255,255)" href="{% url 'admin:index' %}">后台管理</a></p>
	</div>
</footer>
{% endblock %}
