{% extends "utils/site_base_b3.html" %}

{% block extra_head %}
<style type="text/css">
{% include "inscription/base.css" %}
</style>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<p class="navbar-brand">汕头埠宗教碑铭地理信息系统<p>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li {% block  index %} {% endblock %}><a href="{% url 'inscription_index' %}">地图</a></li>
				<li><a href="#">碑铭列表</a></li>
			</ul>
			<form class="navbar-form navbar-right" role="search" action="#" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="" name="keyword">
				</div>
				<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
				{% csrf_token %}
			</form>
		</div>
	</div>
</nav>

{% endblock %}
