{% extends "inscription/base.html" %}

{% load dajaxice_templatetags %}


{% block title %}Inscription{% endblock title %}


{% block extra_head %}
{{ block.super }}
{% dajaxice_js_import %}

{% include "utils/prettyPhoto/head.html" %}

{% endblock %}


{% block index %} class="active" {% endblock %}


{% block content %}
<div class="container">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#">总览</a></li>
		<li ><a href="#">中山公园片</a></li>
		<li><a href="#">礐石片</a></li>
		<li><a href="#">妈屿片</a></li>
	</ul>

	<div class="row">
		<div class="col-md-8">
			<div  class="map_canvas img-polaroid" style="height:320px" id="map">
			</div>
		</div>
		<div class="col-md-4" id="location_info">
		</div>
	</div>
	<div class="row">
		<div class="col-md-3" id="sub_location_info">
		</div>
		<div class="col-md-9" id="inscription_info">
		</div>
	</div>
</div>
{% endblock content %}


{% block extra_tail %}
<script type="text/javascript" src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>

<script type="text/javascript" src="{{ GOOGLE_MAPS_API_URL }}?key={{ GOOGLE_MAPS_API_KEY }}&sensor=false&language=zh-CN"> </script>
<script type="text/javascript" src="{{ STATIC_URL }}utils/gmaps.js"></script>

{% include "utils/prettyPhoto/tail.html" %}

<script type="text/javascript">
{% include "inscription/index.js" %}
</script>
{% endblock%}
