{% extends "inscription/base.html" %}

{% load dajaxice_templatetags %}


{% block title %}汕头埠宗教碑铭地理信息系统{% endblock title %}


{% block extra_head %}
{{ block.super }}

<link rel="stylesheet" href="{{ STATIC_URL }}prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />

{% dajaxice_js_import %}

{% endblock extra_head %}


{% block index %} class="active" {% endblock %}


{% block content %}
<div class="container">
	{% include "inscription/index_nav.html" %}

	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<div class="popin">
				<div style="height:320px" id="map">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4" id="area_or_location_info">
		</div>
	</div>
	<div class="row" id="photos_or_sublocation_info">
	</div>
</div>
{% endblock content %}


{% block extra_tail %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}dajax_modified/jquery.dajax.core.js"></script>

<script type="text/javascript" src="{{ GOOGLE_MAPS_API_URL }}?key={{ GOOGLE_MAPS_API_KEY }}&sensor=false&language=zh-CN"> </script>
<script type="text/javascript" src="{{ STATIC_URL }}utils/gmaps.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}utils/gmaps_utils.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}prettyPhoto/js/jquery.prettyPhoto.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}inscription/index.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}inscription/index_nav.js"></script>

<script type="text/javascript">
$(document).ready(index_init);
</script>
{% endblock extra_tail %}
