{% extends "inscription/base.html" %}

{% load dajaxice_templatetags %}


{% block title %}汕头埠宗教碑铭地理信息系统{% endblock title %}


{% block extra_head %}
{{ block.super }}
{% dajaxice_js_import %}

{% include "utils/prettyPhoto/head.html" %}

{% endblock %}


{% block index %} class="active" {% endblock %}


{% block content %}
<div class="container">
	{% include "inscription/index_nav.html" %}
	<div class="row" id="area_info">
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-8">
			<div class="popin">
				<div style="height:320px" id="map">
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4" id="location_info">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-3" id="sub_location_info">
		</div>
		<div class="col-xs-12 col-sm-9" id="inscription_info">
		</div>
	</div>
</div>
{% endblock content %}


{% block extra_tail %}
<script type="text/javascript" src="{{ STATIC_URL }}dajax_modified/jquery.dajax.core.js"></script>

<script type="text/javascript" src="{{ GOOGLE_MAPS_API_URL }}?key={{ GOOGLE_MAPS_API_KEY }}&sensor=false&language=zh-CN"> </script>
<script type="text/javascript" src="{{ STATIC_URL }}utils/gmaps.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}inscription/index.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}inscription/index_nav.js"></script>

{% include "utils/prettyPhoto/tail.html" %}

<script type="text/javascript">
$(document).ready(index_init);
</script>
{% endblock%}
