{% extends "inscription/base.html" %}

{% load dajaxice_templatetags %}


{% block title %}碑铭列表{% endblock title %}

{% block inscription_list %} class="active" {% endblock %}

{% block extra_head %}
{{ block.super }}

{% dajaxice_js_import %}

{% endblock %}



{% block content %}
<div class="container">
	<div class = "row">
		{% for area in areas %}
		<div class="col-xs-12 col-sm-4 block-center">
			<a href="{{ area.get_absolute_url }}" class="btn btn-lg  btn-block">
				<img class="img-thumbnail" style="" src="{% if area.cover %} {{ area.cover_thumbnail.url }} {% endif %}">
				<div class="caption">
					<h3><i>{{ area }}</i></h3>
				</div>
			</a>
		</div>
		{% if forloop.counter|divisibleby:3 and not forloop.last %}
		</div>
		<hr>
		<div class="row">
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock content %}


{% block extra_tail %}
<script type="text/javascript" src="{{ STATIC_URL }}dajax_modified/jquery.dajax.core.js"></script>

<script type="text/javascript">
</script>
{% endblock%}
