<div class="row">
	<div class="col-md-5" id="sub_location_info">
		<h5>{{ inscription.name }}</h5>
		{% if inscription.description %}
		<p>{{ inscription.description|linebreaks }}</p>
		{% endif %}
	</div>
	<div class="col-md-7" id="inscription_info">
		{% if photos.count  %}
		<p ><strong >图片:</strong> </p>
		<div id="links text-right">
			{% for photo in photos %}
			<a href="{{ photo.image.url }}" rel="prettyPhoto[inscription]" title="{{ photo.description }}">
				<img src="{{ photo.thumbnail.url }}" alt="{{ photo.name }}" title="{{ photo.name }}"/>
			</a>
			{% endfor %}
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
{% include "utils/prettyPhoto/init.js" %}
</script>


{% endif %}
