{% if 'GET' != request.META.REQUEST_METHOD %}
<h2>{{ location.name }}</h2>
{% endif %}
<p><strong>地址:</strong>{{ location.address }}</p>
{% if location.description %}
<p>{{ location.description }}</p>
{% endif %}

<div class="col-xs-8">
	<ul class="nav nav-pills nav-stacked" id="sublocation_list">
		{% for subloc in location.sublocation_set.all %}
		<li><a class="" id="{{ subloc.id }}" href="{{ subloc.get_absolute_url }}">{{ subloc }}</a></li>
		{% endfor %}
	</ul>
</div>


{% if 'GET' != request.META.REQUEST_METHOD %}
<script type="text/javascript">
{% include "inscription/intra_location_info.js" %}
</script>
{% endif %}
