<h3>{{ location.name }}</h3>
<p><strong>地址:</strong>{{ location.address }}</p>
{% if location.description %}
<p><strong>简介:</strong>{{ location.description }}</p>
{% endif %}

<ul>
	{% for sub_loc in location.sublocation_set.all %}
	<li>{{ sub_loc.name }}</li>
	{% endfor %}
</ul>

{% if photos.count  %}
<p ><strong >Photo:</strong> </p>
<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
	{% for photo in photos %}
	<a href="{{ photo.image.url }}" target="_blank" title="{{ photo.name }}" data-gallery="gallery">
		<img class="img-polaroid" src="{{ photo.thumbnail.url }}">
	</a>
	{% endfor %}
</div>
{% endif %}
