<h2>{{ location.name }}</h2>
<p><strong>地址:</strong>{{ location.address }}</p>
{% if location.description %}
<p><strong>简介:</strong>{{ location.description }}</p>
{% endif %}

<div class="list-group" id="sub_location_list">
	{% for sub_loc in location.sublocation_set.all %}
	<a class="list-group-item" id="{{ sub_loc.id }}" href="#sub_location_info">{{ sub_loc }}</a>
	{% endfor %}
</div>

<script type="text/javascript" charset="utf-8">
{% include "inscription/intra_location_info.js" %}
</script>
