{% extends "inscription/base.html" %}


{% block title %}{{ object }}{% endblock title %}

{% block inscription_list %} class="active" {% endblock %}

{% block extra_head %}
{{ block.super }}

<link rel="stylesheet" href="{{ STATIC_URL }}prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
{% endblock %}


{% block content %}
<div class="container">
	{% block breadcrumb %}
		
	{% endblock %}

	<div class="row">
		<div class="col-xs-12" id="inscription_info">
			<h4>{{ object.name }}</h4>
		</div>
		<div class="col-xs-12 col-sm-4" id="inscription_info">
			<div class="popin">
				<div style="height:240px" id="map">
				</div>
			</div>
			{% with object.photos.all as photos %}
			{% include "inscription/intra_photos.html" %}
			{% endwith %}
		</div>
		<div class="col-xs-12 col-sm-8" id="object_info">
			{% block object_detail %}
			{% if object.description %}
			<p><div class="well well-lg">{{ object.description }}</div></p>
			{% endif %}
			{% endblock %}
		</div>
	</div>
</div>
{% endblock content %}


{% block extra_tail %}
{{ block.super }}

<script type="text/javascript" src="{{ GOOGLE_MAPS_API_URL }}?key={{ GOOGLE_MAPS_API_KEY }}&sensor=false&language=zh-CN"> </script>
<script type="text/javascript" src="{{ STATIC_URL }}utils/gmaps.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}utils/gmaps_utils.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}prettyPhoto/js/jquery.prettyPhoto.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}inscription/location.js"></script>

<script type="text/javascript">
{% include "utils/prettyPhoto/init.js" %}
$(document).ready(location_init);
</script>
{% endblock%}
