{% extends "inscription/object_detail.html" %}


{% block breadcrumb %}
{% with  sublocation.location.area  as area  %}
{% with  sublocation.location as location  %}
<ol class="breadcrumb">
	<li><a href="{% url 'inscription_list' %}">碑文列表</a></li>
	<li><a href="{{ area.get_absolute_url }}">{{ area }}</a></li>
	<li><a href="{{ location.get_absolute_url }}">{{ location }}</a></li>
	<li class="active">{{ sublocation }}</li>
</ol>
{% endwith %}
{% endwith %}
{% endblock %}

{% block object_detail %}
{{ block.super }}
<div class="list-group" id="inscription_list">
	{% for inscription in sublocation.inscription_set.all %}
	<a class="list-group-item" id="{{ inscription.id }}" href="{{ inscription.get_absolute_url }}">{{ inscription }}</a>
	{% endfor %}
</div>
{% endblock object_detail %}

{% block  extra_tail%}
{{ block.super }}

<script type="text/javascript">
{% with  sublocation.location as location  %}
{% include "inscription/object_detail_add_marker_hook.js" %}
{% endwith %}
</script>
{% endblock extra_tail %}
