{% extends "inscription/base.html" %}

{% load dajaxice_templatetags %}


{% block title %}旧地图{% endblock title %}


{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap-slider/css/bootstrap-slider.min.css">


{% dajaxice_js_import %}

{% include "utils/prettyPhoto/head.html" %}
{% endblock %}


{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="popin">
				<div style="height:480px" id="map">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="btn-toolbar col-xs-12 col-sm-8 vcenter" role="toolbar">
			<div class="btn-group">
				<button id="show_full_map" type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-th-large"></span>
				</button>
				<button id="zoom_in" type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-zoom-in"></span>
				</button>
				<button id="zoom_out" type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-zoom-out"></span>
				</button>
			</div>
			<div class="btn-group map_buttons" data-toggle="buttons">
				<label class="btn btn-info active">
					<input id="map_1949" type="radio" name="map_button">1949
				</label>
				<label class="btn btn-info">
					<input id="" type="radio" name="map_button">1959
				</label>
				<label class="btn btn-info">
					<input id="" type="radio" name="map_button">1969
				</label>
				<label class="btn btn-info">
					<input id="" type="radio" name="map_button">1979
				</label>
				<label class="btn btn-info">
					<input id="map_1949" type="radio" name="map_button">1989
				</label>
				<label class="btn btn-default">
					<input id="" type="radio" name="map_button">现代
				</label>
			</div>
		</div>
		<div class="col-xs-12 col-sm-1 col-sm-offset-2 vcenter">
				<input id="opacity_slider" data-slider-id='slider_id_map_opacity' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="85"/>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-3" id="sublocation_info">
		</div>
		<div class="col-xs-12 col-sm-9" id="inscription_info">
		</div>
	</div>
</div>
{% endblock content %}


{% block extra_tail %}
<script type="text/javascript" src="{{ STATIC_URL }}dajax_modified/jquery.dajax.core.js"></script>

<script type="text/javascript" src="{{ GOOGLE_MAPS_API_URL }}?key={{ GOOGLE_MAPS_API_KEY }}&sensor=false&language=zh-CN"> </script>
<script type="text/javascript" src="{{ STATIC_URL }}utils/gmaps.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}utils/gmaps_utils.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}OpacityControl/ExtDraggableObject.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap-slider/bootstrap-slider.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}old_map/old_map.js"></script>

{% include "utils/prettyPhoto/tail.html" %}

<script type="text/javascript">
$(document).ready(old_map_init);
</script>
{% endblock%}
